<div class="container p-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card text-center mt-5">
                <div class="card-header">
                    <h3 class="p-3">Regístrate</h3>
                    <div class="card-body">
                        <form action="/registrarse" method="POST">
                            <div class="form-group m-2">
                                <input type="text" name="nombre" class="form-control" placeholder="Ingresar Nombre" required>
                            </div>
                            <div class="form-group m-2">
                                <input type="text" name="apellido" class="form-control" placeholder="Ingresar Apellido" required>
                            </div>
                            <div class="form-group m-2">
                                <input type="email" name="correo" class="form-control" placeholder="Ingresar Correo" required>
                            </div>
                            <div class="form-group m-2">
                                <input type="password" name="contrasena" class="form-control" placeholder="Ingresar Contrasena"
                                    required>
                            </div>
                            <div class="form-group m-2">
                                <select name="rol" class="form-control" require>
                                    <option disabled selected>Selecciona un ROL</option>
                                    <option value="1">Emprendedor</option>
                                    <option value="2">Inversionista</option>
                                </select>
                            </div>
                            <div class="form-group m-2 pt-4">
                                <button class="btn btn-success btn-block">
                                    Registrarse
                                </button>
                            </div>
                        </form>
                        <div class="form-group mx-auto">
                            <div class="mx-auto p-2">
                                <p>¿Ya tienes cuenta? <a href="/login">Inicia Sesión</a></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>