<main>
    <div class="wrap">

        <div class="titulo">
            <h3 class="mb-5">
                GRIINVEST, ENCUENTRA LA MAYOR COMUNIDAD DE INVERSIONISTAS Y EMPRENDEDORES SUSTENTABLES DE CHILE
            </h3>
            <a class="btn btn-danger btn-lg" href="/registrarse">
                Regístrate!
            </a>
        </div>


        <div class="item-grid">

            <div class="item-proyecto">
                <div>
                    <div class="img-proyecto">
                        <img src="./img/avatar-ecoturismo.jpg" alt="Imagen" width="100%" height="auto">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">ECOTURISMO GENUINO</h5>
                        <p class="card-text">empresa líder en el sector del turismo sostenible y responsable. 
                            Nos dedicamos a ofrecer experiencias únicas y auténticas que combinan 
                            la exploración de la naturaleza con la conservación del medio ambiente 
                            y el respeto por las comunidades locales.</p>
                    </div>
                    <a href="/login" class="card-link">
                        <div class="card-footer">
                            Ver Proyecto
                        </div>
                    </a>
                </div>
            </div>

            <div class="item-proyecto">
                <div>
                    <div class="img-proyecto">
                        <img src="./img/avatar-chileglobal.jpg" alt="Imagen" width="100%" height="auto">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">CHILE GLOBAL ENERGÍA</h5>
                        <p class="card-text">empresa líder en el sector de la energía renovable en Chile.
                            Nos dedicamos a desarrollar, implementar y promover soluciones energéticas 
                            sostenibles para impulsar la transición hacia un futuro más limpio y respetuoso con el medio ambiente.</p>
                    </div>
                    <a href="/login" class="card-link">
                        <div class="card-footer">
                            Ver Proyecto
                        </div>
                    </a>
                </div>

            </div>
    </div>
</main>