<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card mx-auto">
                <div class="card-body">
                    <form action="/griinvest/agregar" method="POST">
                        <div class="form-group m-2">
                            <input type="text" name="nombre" class="form-control" placeholder="Nombre" required>
                        </div>
                        <div class="form-group m-2">
                            <input type="text" name="apellido" class="form-control" placeholder="Apellido" required>
                        </div>
                        <div class="form-group m-2">
                            <input type="email" name="correo" class="form-control" placeholder="Correo" required>
                        </div>
                        <div class="form-group m-2">
                            <input type="password" name="contrasena" class="form-control" placeholder="Contrasena" required>
                        </div>
                        <div class="form-group m-2">
                            <select name="rol" class="form-control" required>
                                <option disabled selected>Selecciona un ROL</option> 
                                <option value="1">Emprendedor</option>
                                <option value="2">Inversionista</option>
                            </select>
                        </div>
                        <div class="form-group m-2">
                            <button type="submit" class="btn btn-success btn-block">
                                Crear Usuario
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>